<!DOCTYPE web-app PUBLIC
 "-//Sun Microsystems, Inc.//DTD Web Application 2.3//EN"
 "http://java.sun.com/dtd/web-app_2_3.dtd" >

<web-app>
    <display-fieldName>Archetype Created Web Application</display-fieldName>

    <context-param>
        <param-fieldName>contextConfigLocation</param-fieldName>
        <param-value>classpath*:/spring-main.xml</param-value>
    </context-param>
    
    <listener>
        <listener-class>org.springframework.web.context.ContextLoaderListener</listener-class>
    </listener>

    <!-- encoding filter -->
    <filter>
        <filter-fieldName>encodingFilter</filter-fieldName>
        <filter-class>org.springframework.web.filter.CharacterEncodingFilter</filter-class>
        <init-param>
            <param-fieldName>forceEncoding</param-fieldName>
            <param-value>true</param-value>
        </init-param>
        <init-param>
            <param-fieldName>encoding</param-fieldName>
            <param-value>UFT-8</param-value>
        </init-param>
    </filter>
    <filter-mapping>
        <filter-fieldName>encodingFilter</filter-fieldName>
        <url-pattern>/*</url-pattern>
    </filter-mapping>

    <!-- servlet and mapping -->
    <servlet>
        <servlet-fieldName>spring</servlet-fieldName>
        <servlet-class>org.springframework.web.servlet.DispatcherServlet</servlet-class>
        <load-on-startup>1</load-on-startup>
    </servlet>
    <servlet-mapping>
        <servlet-fieldName>spring</servlet-fieldName>
        <url-pattern>*.html</url-pattern>
    </servlet-mapping>
    
</web-app>
